/* Tablets */
@media (max-width:992px){

.hero{
flex-direction:column;
text-align:center;
padding-top:140px;
}

.hero-image img{
width:380px;
margin-top:50px;
}

.nav-links{
gap:20px;
}

.hero h1{
font-size:45px;
}

}

/* Mobile */

@media(max-width:768px){

.navbar{
padding:18px 6%;
flex-wrap:wrap;
}

.logo{
font-size:28px;
}

.nav-links{
display:none;
flex-direction:column;
width:100%;
margin-top:20px;
}

.nav-links.active{
display:flex;
}

.hero h1{
font-size:36px;
}

.hero p{
font-size:16px;
}

.hero-image img{
width:300px;
}

.features{
grid-template-columns:1fr;
}

.btn{
display:none;
}

}

/* Small Phones */

@media(max-width:480px){

.hero{
padding:120px 25px;
}

.hero h1{
font-size:30px;
}

.hero-image img{
width:250px;
}

.card{
padding:25px;
}

}
